@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.left-sidebar {
    background: #000;
    z-index: 999;
    color: #fff;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    left: 0;
    top: 0;
    writing-mode: tb-rl;
    width: calc(3vw + 1px);
    // max-width: 56px;

    .left-sidebar__li.logo {
        width: 1.2rem;

        img {
            width: 100%;
        }
    }

    .left-sidebar-ul {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 8vh 0 8vh;
    }
    li {
        padding: 0;
        width: 1.2rem;
    }
    li.change-language,
    li.timer {
        transform: rotate(180deg);
        .header__timer__title,
        .text {
            display: none;
        }
    }
    li.timer,
    li.logo {
        @include transition(margin-left, 0.75s, ease);
    }
}

#headerpage .left-sidebar-ul {
    padding-top: 8vh;
}
// Only for IE and Edge
@media screen and (min-width: $mobile_l) and (min-width: 0\0) {
    // @media screen and (min-width: $mobile_l) and (-ms-high-contrast: active),
    //     (-ms-high-contrast: none) {
    #headerpage {
        li.change-language {
            top: 6vh;
        }
    }
    li.change-language,
    li.timer {
        width: 1.2rem;
        height: 1.2rem;
        .switch-language {
            height: 15vh;
        }
        .header__timer {
            height: 23vh;
        }
    }
    li.change-language {
        top: -20%;
        position: relative;
    }
}
@supports (-ms-ime-align: auto) {
    #headerpage {
        li.change-language {
            top: 6vh;
        }
    }
    li.change-language,
    li.timer {
        width: 1.2rem;
        height: 1.2rem;
        .switch-language {
            height: 15vh;
        }
        .header__timer {
            height: 23vh;
        }
    }
    li.change-language {
        top: -20%;
        position: relative;
    }
}
