@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.left-sidebar {
  background: #000;
  z-index: 999;
  color: #fff;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  left: 0;
  top: 0;
  writing-mode: tb-rl;
  width: calc(3vw + 1px);
  // max-width: 56px;

  .left-sidebar__li.logo {
    width: 23px;

    img {
      width: 100%;
    }
  }

  .left-sidebar-ul {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px 0;
  }
  li {
    padding: 0;
  }
  li.change-language,
  li.timer {
    transform: rotate(180deg);
  }
  li.timer,
  li.logo {
    margin-left: 0vw;
     @include transition(margin-left, 0.45s, ease);
  }
}
