 /* Mixins */

 @mixin transition($property: all, $duration: .3s, $ease: linear) {
     -moz-transition: $property $duration $ease;
     -o-transition: $property $duration $ease;
     -webkit-transition: $property $duration $ease;
     transition: $property $duration $ease;
 }

 @mixin keyframes($animation-name) {
     @-webkit-keyframes #{$animation-name} {
         @content;
     }
     @-moz-keyframes #{$animation-name} {
         @content;
     }
     @-ms-keyframes #{$animation-name} {
         @content;
     }
     @-o-keyframes #{$animation-name} {
         @content;
     }
     @keyframes #{$animation-name} {
         @content;
     }
 }

 @mixin animation($str) {
     -webkit-animation: #{$str};
     -moz-animation: #{$str};
     -ms-animation: #{$str};
     -o-animation: #{$str};
     animation: #{$str};
 }

 @mixin transform($transforms) {
     -moz-transform: $transforms;
     -o-transform: $transforms;
     -ms-transform: $transforms;
     -webkit-transform: $transforms;
     transform: $transforms;
 }

 @mixin linear-gradient($args...) {
     background-image: -o-linear-gradient($args);
     background-image: -moz-linear-gradient($args);
     background-image: -webkit-linear-gradient($args);
     background-image: linear-gradient($args);
 }