// Fonts
@import "fonts.scss";
// Core
@import "variables.scss";
@import "mixins.scss";
@import "../css/fontawesome.css";

// example
@media (max-width: $mobile_p) {
}

@media (min-width: $mobile_p+1) and (max-width: $mobile_l) {
}

@media (min-width: $mobile_l+1) and (max-width: $tablets) {
}

@media (min-width: $tablets+1) and (max-width: $desctops_s) {
}

@media (min-width: $desctops_s) {
}
html, body{
  height: 100%;
  overflow: hidden;
}
html {
  box-sizing: border-box;
  font-size: 15px;
  @media (max-width: $mobile_p) {
    font-size: 15px;
  }
  @media (min-width: $mobile_p+1) and (max-width: $mobile_l) {
    font-size: 14px;
  }
  @media (min-width: $mobile_l+1) and (max-width: $tablets) {
    font-size: 16px;
  }
  @media (min-width: $tablets+1) and (max-width: $desctops_s) {
    font-size: 18px;
  }
  @media (min-width: $desctops_s+1) and (max-width: $desctops_l) {
    font-size: 22px;
  }
  @media (min-width: $desctops_l+1) {
    font-size: 30px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: $font_family;
  font-weight: $font_weight_normal;
  min-height: 100vh;
  text-align: left;
  overflow-x: hidden;
}
#root{
  height: 100%;
}
.home {
  position: relative;
  height:100%;
}
.pages {
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 400vw;
  overflow: auto;
}
.page.header {
  transform: translateX(0vw);
  display: block;
}
.page {
  width: 100vw;
  position: absolute;
  // display: none;
  top: 0;
  transform: translateX(0vw);
  z-index: 9;

  &.active {
    display: flex;
  }
  &.animate {
    @include transform(translateX(0vw));
    @include transition(transform, 0.35s, cubic-bezier(0.2, 0.6, 0.2, 1));
  }
}
.page__content {
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
h2 {
  font-family: $font_family;
}

.container {
  margin-right: auto;
  margin-left: auto;
}
.animate-hidden {
  display: block;
  overflow: hidden;
}
.mobile-title-page {
  z-index: 9;
  height: 60px;
  background: $black;
  color: $white;
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 20px;
  border-bottom: 1px solid #fff;
}
@media (min-width: $mobile_l) {
  .mobile-title-page {
    display: none;
  }
}
