// Fonts
@import "fonts.scss";
// Core
@import "variables.scss";
@import "mixins.scss";
@import "../css/fontawesome.css";

// example
@media (max-width: $mobile_p) {
}

@media (min-width: $mobile_p+1) and (max-width: $mobile_l) {
}

@media (min-width: $mobile_l+1) and (max-width: $tablets) {
}

@media (min-width: $tablets+1) and (max-width: $desctops_s) {
}

@media (min-width: $desctops_s) {
}
html,
body {
    // height: 100%;
    // overflow: hidden;
}
html {
    background: #000;
    box-sizing: border-box;
    font-size: 15px;
    @media (max-width: $mobile_p) {
        font-size: 15px;
    }
    @media (min-width: $mobile_p+1) and (max-width: $mobile_l) {
        font-size: 14px;
    }
    @media (min-width: $mobile_l+1) and (max-width: $tablets) {
        font-size: 16px;
    }
    @media (min-width: $tablets+1) and (max-width: $desctops_s) {
        font-size: 18px;
    }
    @media (min-width: $desctops_s+1) and (max-width: $desctops_l) {
        font-size: 22px;
    }
    @media (min-width: $desctops_l+1) {
        font-size: 30px;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $black;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $black;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $black;
}
button:active,
button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}
body {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-family: $font_family;
    font-weight: $font_weight_normal;
    min-height: 100vh;
    text-align: left;
}
#root {
    height: 100%;
}
.home {
    position: relative;
    height: 100%;
    overflow: hidden;

    &#headerpage {
        .footer {
            display: none;
        }
        .left-sidebar .timer,
        .left-sidebar .logo {
            margin-left: -5vw;
        }
        .left-sidebar .switch-language {
            order: 1;
        }
        .left-sidebar .logo {
            order: 2;
        }
    }

    &#programpage .pages,
    &#partnerspage .pages {
        min-height: calc(100vh + 207px);
    }
    &#partnerspage {
        .menu-ul__li.active a {
            color: $white;
        }
        .page__content {
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }
    }
    &#jurypage {
        .jury-page.active.fix,
        .jury-page.active2.fix {
            max-height: 100vh;
            overflow: hidden;
        }
        .footer {
            display: none;
        }
    }
}
.pages {
    // min-height: calc(100vh + 207px);
    min-height: calc(100vh);
    display: flex;
    flex-direction: row;
    width: 400vw;
    overflow-x: hidden;

    @media (max-width: $mobile_l+1) {
        width: 100vw;
        display: block;
    }

    &.fixheader {
        min-height: calc(100vh + 8rem);
    }
}
.page.header {
    transform: translateX(3vw);
    display: block;
}
.page {
    min-height: 100vh !important;
    display: none;
    width: 100vw;
    position: absolute;
    top: 0;
    transform: translateX(100vw);
    // transform: translateX(0vw);
    z-index: 9;
    @media (max-width: $mobile_l+1) {
        display: block;
        transform: none;
        position: relative;
    }

    &.active {
        display: flex;
        z-index: 10;
    }
    &.active2 {
        display: flex;
        z-index: 11;
    }
    @media (min-width: $mobile_l) {
        &.animate,
        &.animate2 {
            @include transform(translateX(3vw));
            //@include transition(transform, 0.45s, cubic-bezier(0.2, 0.6, 0.2, 1));
            @include transition(transform, 0.45s, ease);
        }
    }
}
.page__content {
    padding-top: 8vh;
    padding-bottom: 8vh;
    width: 79vw;
    @media (max-width: $mobile_l+1) {
        width: 100%;
        padding-top: 100px !important;
    }
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
}
h2 {
    font-family: $font_family;
    @media (max-width: $mobile_l+1) {
        font-size: 1.5rem !important;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
}
.animate-hidden {
    display: block;
    overflow: hidden;
}
.mobile-title-page {
    z-index: 9;
    height: 60px;
    background: $black;
    color: $white;
    position: fixed;
    top: 0;
    width: 100vw;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
    border-bottom: 1px solid #fff;
}
@media (min-width: $mobile_l) {
    .mobile-title-page {
        display: none;
    }
}
