    /* Variables */
    // colors
    $white: #FFF;
    $gold: #CFB282;
    $red: #dc3545;
    $litegray: #F6F6F6;
    $black: #000;
    $gray: #a4a4a4;
    $gray_text: #737373;

    // fonts
    $font_family: 'FiveYearsLaterRegular', monospace, 'Roboto', sans-serif;
    $font_weight_bold: 600;
    $font_weight_normal: 300;
    $font_weight_light: 200;
    // sizes window
    $mobile_p: 439px;
    $mobile_l: 767px;
    $tablets: 1023px;
    $desctops_s: 1279px;
    $desctops_l: 1823px;
    
    // size for cube side 
    $cube_side: 10vw;
    $cube_side-mob: 20vw;
    // animation start
    $skills-start-anim:0.8;