.css-2b097c-container {
    border: 1px solid #000 !important;
    height: 41px!important;
}
.css-yk16xz-control {
    border-radius: 0 !important;
    border: 0!important;
    height: 39px!important;
}
.css-1hwfws3 {
    height: 41px!important;
    line-height: 37px!important;
}
.css-1pahdxg-control{
    box-shadow: none!important;
}
.css-1pahdxg-control:hover{
    border:0!important;
    height: 41px!important;
}
