$white: #fff;
$black: #000;
$gray: #808080;
$silver-chalice: #a4a4a4;
$dodger-blue: #158bec;
$malibu: #8ac5f6;
$font-family: Roboto, sans-serif;
$font-root: 16px;

$s: 375px;
$m: 600px;
$l: 1560px;

// $colors: (
// 	dodgerBlue: $dodger-blue,
// 	silverChalice: $silver-chalice,
// 	malibu: $malibu
// );

// the :export directive is the magic sauce for webpack

/* stylelint-disable property-no-unknown */
:export {
	dodgerBlue: $dodger-blue;
	fontFamily: $font-family;
	fontRoot: $font-root;
	l: $l;
	malibu: $malibu;
	s: $s;
	silverChalice: $silver-chalice;
	white: $white;
}

/* stylelint-enable property-no-unknown */
