@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.program-page {
    // min-height: calc(100vh - 207px);
    display: flex;
    align-items: center;
    @include linear-gradient(to bottom, #4457cf, #bd50c1, #ea9e8d);
    @media (max-width: $mobile_l+1) {
        min-height: calc(100vh - 85px);
    }
}
.program-page__content {
    text-align: center;
    @media (min-width: $mobile_l) {
        height: calc(100% + 207px);
        margin-left: 6vw;
    }
}

.program-page__title {
    max-width: 1465px;
    width: 100%;
    font-size: 3rem;
    color:$white;
    @media (max-width: $mobile_l+1) {
        max-width: 319px;
        width: 80vw;
    }
}
