@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";
.header {
    min-height: 100vh;
    // height: 100%;
    background: #000;
    color: #fff;
    // overflow: hidden;
    @media (max-width: $mobile_l+1) {
        // max-height: 100vh;
        overflow: hidden;
    }
    &.move {
        transform: translateX(-79vw);
    }
}
// .header-page {
//     &.active2.animate,
//     &.active.animate,
//     &.move {
//         transform: translateX(3vw);
//     }
// }
.header__content {
    min-height: calc(100vh);
    @media (min-width: $mobile_l) {
        padding-left: 4%;
        padding-bottom: 4vh;
    }
    @media (max-width: $mobile_l+1) and (orientation: landscape) {
        padding-top: 20vh !important;
    }
    animation: fadeIn 1.4s ease forwards;
}
@include keyframes(fadeIn) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.header__center-block {
    flex-direction: column;
    max-width: 957px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.header .header__row--video {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
    // height: 29vh;
    margin-top: -5vh;
    margin-bottom: -8vh;
}
.video-model {
    position: relative;
    z-index: 2;
    align-self: flex-end;
    // width: 90%;
    margin-right: -20vw;
    height: 30vh;
    //height: 100%;
    @media (max-width: $mobile_l+1) {
        display: none;
    }
    @media screen and (min-width: 0\0) {
        margin-right: -10vw;
    }
}
.header .header__row--top {
    position: relative;
    z-index: 3;
    .h1 {
        display: inline-block;
    }
}
.header .header__row--middle {
    position: relative;
    z-index: 3;
    @media (max-width: $mobile_l+1) {
        margin-top: 8vh;
    }
    @media (max-width: $mobile_l+1) and (orientation: landscape) {
        margin-bottom: 24vh;
    }
}
.header .header__row--bottom {
    margin-top: 6vh;
}
#headerpage .header__center-block {
    @media (min-width: $mobile_l) {
        height: 100%;
    }
    @media (max-width: $mobile_l+1) {
        width: 100%;
        display: block;
        margin-left: 0;
    }
    .header__row--top {
        @media (max-width: $mobile_l+1) {
            position: static;
            margin-top: 100px;
        } // Only for IE >= 9

        &:hover .header__description {
            @include linear-gradient(
                to left,
                #f7a543,
                #c5e2ce 35%,
                #005e74 68%,
                #8c89ff
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @include transition(background, 1s, linear);
            @media screen and (min-width: 0\0) {
                background-image: none !important;
                -webkit-background-clip: none !important;
                -webkit-text-fill-color: none !important;
            }
        }
    }
    .header__row--middle {
        @media (max-width: $mobile_l+1) {
            margin-top: 12vh;
        }
    }
}

.header .logo2x2 {
    position: absolute;
    top: 0;
    right: -22vw;
    z-index: 0;

    @media (max-width: $mobile_l+1) {
        position: absolute;
        bottom: 20px;
        left: auto;
        right: auto;
        top: auto;
    }
}
#root #headerpage .header__center-block .header__row--top:hover .header__description {
    @supports (-ms-ime-align: auto) {
        background-image: none !important;
        -webkit-background-clip: none !important;
        -webkit-text-fill-color:unset !important;
    }
}
