@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";
.header {
    min-height: 100vh;
    height: 100%;
    background: #000;
    color: #fff;
    overflow: hidden;
    @media (max-width: $mobile_l+1) {
        max-height: 100vh;
        overflow: hidden;
    }
}
.header__content {
    min-height: calc(100vh);
    padding-left: 4%;
}
.header__center-block {
    // display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 957px;
    width: 60%;
}

@media (min-width: $desctops_l+1) {
}
@media (max-width: $mobile_l+1) {
    width: 100%;
    display: block;
    padding: 0 20px;
    margin-left: 0;
}
.header__row--top {
    position: relative;

    @media (max-width: $mobile_l+1) {
        position: static;
        margin-top: 100px;
    }
    &:hover .header__description {
        @include linear-gradient(
            to left,
            #f7a543,
            #c5e2ce 35%,
            #005e74 68%,
            #8c89ff
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include transition(background, 1s, linear);
    }
}
.header__row--middle {
    margin-top: 12vh;
}
.header__row--bottom {
    margin-top: 6vh;
}
.header .logo2x2 {
    position: absolute;
    top: 0;
    right: -22vw;
    z-index: 0;

    @media (max-width: $mobile_l+1) {
        position: absolute;
        bottom: 20px;
        left: auto;
        right: auto;
        top: auto;
    }
}
